INFURA_PROJECT_ID=
ETHERSCAN_API_KEY=

# Specify a mnemonic to use an HD wallet 
MNEMONIC=
# or specify a private key to use a single account
WALLET_PUBLIC_KEY=
WALLET_PRIVATE_KEY=

# address when delpoy smart contract by hardhard
ADDRESS_CONTRACT=0x5FbDB2315678afecb367f032d93F642f64180aa3
